<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px; width:100%;}
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */


label {
    color: rgb(53, 114, 210);
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 6px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

input {
    border: 1px solid rgb(220, 219, 235);
    border-radius: 4px;
    font-size: 13px;
    padding: 10px;
    color: #000;
    transition: all .15s ease-in;
    margin-top: 20px;
}

input[type=email] {
    width: 60%;
}

input[type=submit] {
    background-color: rgb(53, 114, 210);
    color: #fff;
    font-weight: bold;
    border: 1px solid transparent;
}

input[type=submit]::focus {
    border: 1px solid #fff;
}

input:focus {
    border-color: rgb(53, 114, 210);
    box-shadow: 0px 0px 8px 2px rgba(53, 114, 210, .5);
    outline: none;
}

input::placeholder {
    color: #999;
}

#subscribe-result p {
    margin-top: 35px;
}
</style>
<div class="box">
<form action="https://github.us18.list-manage.com/subscribe/post?u=aca30e1747b723f48332ef6eb&amp;id=ae1691e6c1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<label for="mce-EMAIL">For getting new post please subscribe</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_aca30e1747b723f48332ef6eb_ae1691e6c1" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
        

